@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #ffffff;
}
a{
    text-decoration: none;
    color: #333333;
}
img{
    border: none;
}
.clearfix::after{
    display: block;
    content:"";
    clear: both;
}
/* header */
.headwrap{
    width: 100%;
    height: 100px;
}
header{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}
.logo{
    width: 200px;
    height: 100px;
    float: left;
}
.logo h1{
    width: 200px;
    height: 40px;
    margin-top: 30px;
}
.logo img{
    width: 200px;
    height: 40px;
}
nav{
    width: 1000px;
    height: 100px;
    float: left;
}
.mainnav{
    width: 720px;
    height: 50px;
    float: right;
    box-sizing: border-box;
    border-top: 1px solid #333333;
    margin-top: 50px;
}
.mainnav>li{
    float: left;
    position: relative;
}
.mainnav>li>a{
    display: block;
    width: 180px;
    height: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 50px;
    box-sizing: border-box;
    border-left: 1px solid #333333;
}
.mainnav>li:last-child>a{
    border-right: 1px solid #333333;
}
.subnav{
    width: 180px;
    height: 200px;
    background-color: #9cbbde;
    position: absolute;
    left: 0;
    top: 50px;
    z-index:10;
    display: none;
}
.subnav a{
    display: block;
    width: 180px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    background-color: #9cbbde;
}
.mainnav>li>a:hover{
    font-weight: bold;
    background-color: #9cbbde;
}
.subnav a:hover{
    font-weight: bold;
    background-color: #ffffff;
}
.subbg{
    width: 1200px;
    height: 200px;
    background-color: #9cbbde;
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 9;
    display: none;
}
/* main slide */
main{
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
main ul{
    width: 1200px;
    height: 1200px;
    position: absolute;
    top: 0;
    left: 0;
}
main li{
    width: 1200px;
    height: 300px;
}
/* section */
section{
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
section h2{
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    box-sizing: border-box;
    border: 1px solid #333333;
    border-bottom: 0;
}
section h2:hover{
    background-color: #9cbbde;
}
article{
    width: 400px;
    height: 100%;
    float: left;
}
.notice{
    width: 395px;
    height: 160px;
    box-sizing: border-box;
    padding: 5px 10px;
    border: 1px solid #333333;
    margin-right: 10px;
}
.notice li{
    width: 100%;
    height: 25%;
}
.notice li:hover{
    font-weight: bold;
}
.notice a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    line-height: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid #000;
}
.notice span{
    float: right;
    color:#888888;
}
#gallery{
    width: 400px;
    height: 100%;
    float: left;
}
.gallery{
    width: 395px;
    height: 160px;
    box-sizing: border-box;
    padding: 5px 5px;
    border: 1px solid #333333;
    margin-right: 5px;
}
.gallery li{
    float: left;
    margin-top: 10px;
    margin-left: 5px;
}
#direct{
    width: 400px;
    height: 100%;
    float: left;
    position: relative;
}
#direct img{
    width: 400px;
    height: 160px;
}
/* footer */
.footwrap{
    width: 100%;
    height: 100px;
}
footer{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}
.copyright{
    width: 1000px;
    height: 100px;
    float: left;
    box-sizing: border-box;
    border-right: 1px solid #333333;
}
.copyright p{
    width: 100%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
    background-color: #eeeeee;
}
.right{
    width: 200px;
    height: 100px;
    float: left;
    background-color: #eeeeee;
}
.sns{
    width: 100%;
    height: 50px;
    background-color: #eeeeee;
}
.sns li{
    float: left;
    margin-left: 25px;
    margin-top: 10px;
}
.sns a{
    display: block;
    background-color: #eeeeee;
}
#site{
    width: 90%;
    height: 30px;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
}
/* popup */
.popwrap{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: none;
}
.pop{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 150px;
    z-index: 1000;
    width: 300px;
    height: 400px;
    background-color: #ffffff;
}
.pop h2{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-top: 20px;
    background-color: #a5d3e4;
}
.pop p{
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    padding: 20px 25px;
    font-size: 20px;
    line-height: 25px;
}
.pop a{
    display: block;
    width: 80px;
    height: 50px;
    background-color: #000000;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    position: absolute;
    bottom: 30px;
    right: 25px;
}